* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Futura", "Helvetica neue", "Helvetica", sans-serif;
	color: #f0f7f4;
	background-color: #2e4756;
}

a {
	color: #AAA;
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: underline;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: #2e4756;
	border-bottom: 1px solid #AAA;
}
.container {
	max-width: 70em;
	padding: 0.5em 1em;
	margin-right: auto;
	margin-left: auto;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
}
.navbar-brand {
	font-size: 2em;
	font-weight: bold;
	color: #f0f7f4;
	text-shadow: 0.15em 0.15em #0004;
}
.navbar .active {
	color: #f0f7f4;
}
.navbar ul {
	display: flex;
	overflow: hidden;
	text-align: center;
	list-style: none;
	font-size: 1.1em;
}
.navbar ul a {
	padding: 0.2em 1em;
	display: inline-block;
}

#navbar-toggle-cb, .navbar-toggle {
	display: none;
}
.navbar-toggle {
	padding: 0.5em;
	border: 1px solid #AAA;
	border-radius: 20%;
}

footer {
	padding: 1em;
	text-align: center;
	font-size: 0.75em;
}

section {
	position: relative;
	background-color: #16262e;
}
section h1 {
	padding-top: 3em;
	padding-bottom: 1em;
	font-size: 2em;
	text-shadow: 0.1em 0.1em #0004;
}
section h2 {
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: 1.5em;
}
#front {
	height: 100vh;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4em;
	text-shadow: 0.1em 0.1em #0004;
	background-color: #2e4756;
	background: radial-gradient(circle, #2e4756 0%, #223742 100%);
	user-select: none;
}
#front img {
	margin: 0 0.5em;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	box-shadow: 0.1em 0.1em #0004;
	image-rendering: crisp-edges;
}
#about {
	height: 100vh;
}
#projects {
	height: 100vh;
}
#contact {
	height: 100vh;
}

/* Responsive CSS */
@media screen and (max-width: 40em) {
	.navbar {
		flex-wrap: wrap;
	}
	.navbar ul {
		max-height: 0;
		flex-basis: 100%;
		flex-direction: column;
		transition: max-height 300ms ease-out;
	}
	.navbar-toggle {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.navbar-toggle:after {
		content: "▼";
		transition: transform 300ms ease-in-out;
	}
	#navbar-toggle-cb:checked ~ ul {
		max-height: 8em;
	}
	#navbar-toggle-cb:checked + .navbar-toggle:after {
		transform: rotate(180deg);
	}

	section#front {
		flex-flow: column wrap;
		text-align: center;
		font-size: 3em;
	}
}
