* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Futura", "Helvetica neue", "Helvetica", sans-serif;
	color: var(--text);
	background-color: var(--background);

	--background: #e9eaec;
	--background-highlight: radial-gradient(circle, #2e4756 0%, #293f4d 100%);
	--text: #2e2e2e;
	--text-shadow: #52525244;
	--text-highlight: #f0f7f4;
	--link: #6e6e6e;
	--link-active: #363636;
	--border: #999;
}

/* Dark Theme */
.night {
	--background: #16262e;
	--background-highlight: radial-gradient(circle, #2e4756 0%, #293f4d 100%);
	--text: #f0f7f4;
	--text-shadow: #0004;
	--text-highlight: #f0f7f4;
	--link: #8a8a8a;
	--link-active: #cfcfcf;
	--border: #696969;
}

a {
	color: var(--link);
	text-decoration: none;
}
a:hover, a:active {
	color: var(--link-active);
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: var(--background);
	border-bottom: 1px solid var(--border);
}
.container {
	max-width: 70em;
	padding: 0.5em 1em;
	margin-right: auto;
	margin-left: auto;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	user-select: none;
}
.navbar-brand {
	font-size: 2em;
	font-weight: bold;
	color: var(--text);
	text-shadow: 0.15em 0.15em var(--text-shadow);
}
.navbar .active {
	color: var(--link-active);
}
.navbar ul {
	display: flex;
	overflow: hidden;
	text-align: center;
	list-style: none;
	font-size: 1.1em;
}
.navbar ul a {
	padding: 0.2em 1em;
	display: inline-block;
}

#navbar-toggle-cb, .navbar-toggle {
	display: none;
}
.navbar-toggle {
	padding: 0.5em;
	border: 1px solid var(--border);
	border-radius: 20%;
}

footer {
	padding: 1em;
	text-align: center;
	font-size: 0.75em;
	border-top: 1px solid var(--border);
}

section {
	position: relative;
}
section h1 {
	padding-top: 3em;
	padding-bottom: 1em;
	font-size: 2em;
	text-shadow: 0.1em 0.1em var(--text-shadow);
}
section h2 {
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: 1.5em;
}
#front {
	height: 100vh;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4em;
	text-shadow: 0.1em 0.1em var(--text-shadow);
	background: var(--background-highlight);
	user-select: none;
	color: var(--text-highlight);
}
#front img {
	margin: 0 0.5em;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	box-shadow: 0.1em 0.1em var(--text-shadow);
	image-rendering: crisp-edges;
}
#about {
	height: 100vh;
}
#projects {
	height: 100vh;
}
#contact {
	height: 100vh;
}

/* Responsive CSS */
@media screen and (max-width: 40em) {
	.navbar {
		flex-wrap: wrap;
	}
	.navbar ul {
		max-height: 0;
		flex-basis: 100%;
		flex-direction: column;
		transition: max-height 300ms ease-out;
	}
	.navbar-toggle {
		display: flex;
	}
	.navbar-toggle:after {
		content: "▼";
		align-self: stretch;
		vertical-align: middle;
		transition: transform 300ms ease-in-out;
	}
	#navbar-toggle-cb:checked ~ ul {
		max-height: 8em;
	}
	#navbar-toggle-cb:checked + .navbar-toggle:after {
		transform: rotate(180deg);
	}

	section#front {
		flex-flow: column wrap;
		text-align: center;
		font-size: 3em;
	}
}
