* {
	margin: 0;
	padding: 0;
}
html {	
	scroll-behavior: smooth;
}
body {
	font-family: "Futura", "Helvetica neue", "Helvetica", sans-serif;
	color: #f2f6f2;
	background-color: #2d4656;
}
header {	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #2d4656;
	border-bottom: 1px solid #9aa8b4;
}
.container {
	max-width: 90em;
	padding: 0.5em 1em;
	margin-right: auto;
	margin-left: auto;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	user-select: none;
}
.navbar-brand {
	float: left;
	font-size: 2em;
	font-weight: bold;
	color: #f2f6f2;
	text-shadow: 0.15em 0.15em rgba(0,0,0,0.3);
}
.navbar .active {
	color: #f2f6f2;
}
.navbar a {
	text-decoration: none;
}
.navbar ul {
	display: flex;
	list-style: none;
	font-size: 1.1em;
}
.navbar ul a {
	padding: 0.2em 1em;
	display: inline-block;
	color: #9aa8b4;
}
.navbar li a:hover,
.navbar li a:focus {
    text-decoration: underline;
}

footer {
	padding: 1em 1em;
	text-align: center;
	font-size: 0.75em;
	background-color: #2d4656;
}
footer a {
	text-decoration: none;
	color: #9aa8b4;
}

section {
	position: relative;
}
section h1 {
	padding-top: 3em;
	padding-bottom: 1em;
	font-size: 2em;
	text-shadow: 0.1em 0.1em rgba(0,0,0,0.3);
}
section h2 {
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: 1.5em;
}
#front {
	height: 100vh;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4em;
	text-shadow: 0.1em 0.1em rgba(0,0,0,0.3);
	user-select: none;
}
#front img {
	margin: 0 0.5em;
	width: 3em;
	height: 3em;
	border-radius: 50%;
	box-shadow: 0.1em 0.1em rgba(0,0,0,0.3);
	image-rendering: crisp-edges;
}
#about {
	background-color: #333;
	height: 100vh;
}
#projects {
	background-color: #222;
	height: 100vh;
}
#contact {
	background-color: #111;
	height: 100vh;
}

/* Responsive CSS */
@media screen and (max-width: 40em) {
	.navbar {
		flex-wrap: wrap;
	}
	.navbar ul {
		flex-grow: 1;
		flex-basis: 100%;
		flex-direction: column;
	}
	section#front {
		flex-flow: column wrap;
		text-align: center;
		font-size: 3em;
	}
}
